.wrapper {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #198754;
    border-radius: 15px;
    padding: 15px;
}
.title {
    color: #198754;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}
.label {
    padding-top: 5px;
    font-weight: 500;
}
