.wrapper {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #198754;
    border-radius: 15px;
}
.register-title {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    color: #198754;
}
.label {
    padding-top: 5px;
    font-weight: 500;
}
