.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #f8f8f8f8;
}
.header {
    position: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    margin-top: 50px;
    min-height: inherit;
}
.content {
    height: 100%;
}
